<h2 class="mat-dialog-title" color="primary" layout-align="center center">
    <span *ngIf="obj.id !== '0'">Edit {{obj.tableLabel}}[{{obj._id}}]</span>
    <span *ngIf="obj.id == '0'">New {{obj.tableLabel}} Record</span>
</h2>
<mat-dialog-content class="record-container">
<div >
    <form >
        <div class="form-container">
            <ng-template ngFor let-field [ngForOf]="obj.fieldDefinitions" [ngForTrackBy]="trackByName">
                <div class="field-container" [ngSwitch]="field.type">
                    <mat-form-field *ngSwitchCase="'string'">
                        <input  matInput
                               [placeholder]="field.label"
                               [(ngModel)]="obj[field.name]"
                               name="{{field.name}}"
                               [matTooltip]="field.tooltip"
                               [disabled]="field.inputDisabled">
                    </mat-form-field>
                    <mat-form-field  *ngSwitchCase="'int'">
                        <input  matInput
                               type="number"
                               [placeholder]="field.label"
                               [(ngModel)]="obj[field.name]"
                               name="{{field.name}}"
                               [matTooltip]="field.tooltip"
                               [disabled]="field.inputDisabled">
                    </mat-form-field>
                    <fk-autocomplete *ngSwitchCase="'fk'"
                                     [object]="obj"
                                     [field]="field"
                                     (onUpdate)="objectUpdated($event)">
                    </fk-autocomplete>
                    <mat-form-field *ngSwitchCase="'select-static'">
                        <mat-select
                                   [placeholder]="field.label"
                                   [(ngModel)]="obj[field.name]"
                                   name="{{field.name}}"
                                   style="margin-top: 20px; margin-bottom: 6px;"
                                   [matTooltip]="field.tooltip">
                            <mat-option [value]="option.value"
                                       *ngFor="let option of field.options">
                                {{option.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-checkbox  *ngSwitchCase="'bool'"
                                  class="md-primary"
                                  [(ngModel)]="obj[field.name]"
                                  name="{{field.name}}"
                                  [matTooltip]="field.tooltip">
                        {{field.label}}
                    </mat-checkbox>
                    <devctrl-endpoint-status *ngSwitchCase="'endpoint-status'"
                                            [endpointId]="obj.id">
                    </devctrl-endpoint-status>
                    <devctrl-object-editor *ngSwitchCase="'object'"
                                           [object]="obj[field.name]"
                                           [fname]="field.name"
                                           (onUpdate)="objectUpdated($event)">
                    </devctrl-object-editor>
                    <devctrl-watcher-action-value *ngSwitchCase="'watcher-action-value'"
                            [actionValue]="obj[field.name]"
                            [contextObject]="obj"
                            (onUpdate)="objectUpdated($event)">
                    </devctrl-watcher-action-value>
                    <div *ngSwitchDefault>
                        Unknown field type {{field.type}}
                    </div>
                </div>
            </ng-template>
        </div>
    </form>
   <!-- <div>

    </div>
    <mat-divider></mat-divider>
    <h3>Referenced by</h3>
    <mat-list *ngFor="let tableName of referencedTables()">
        <mat-list-item *ngFor="let ref of referencedArray(tableName) | slice:0:5">
            <button mat-button (click)="editOtherRow(ref)">{{tableName}}[{{ref._id}}]</button>
        </mat-list-item>
        <mat-list-item *ngIf="referencedArray(tableName).length > 5">
          ... and {{referencedArray(tableName).length - 5}} other {{tableName}}
        </mat-list-item>
    </mat-list>
    <h3 mat-subheader>References</h3>
    <mat-list *ngFor="let fkDef of obj.foreignKeys">
        <mat-list-item>
            <button mat-button (click)="editOtherRow(obj[fkDef.fkObjProp])">{{fkDef.fkTable}}[{{fkName(fkDef.fkObjProp)}}]</button>
        </mat-list-item>
    </mat-list>  -->
</div>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button *ngIf="newRow" color="primary" (click)="addRow()">Add</button>
    <button mat-button *ngIf="! newRow" color="primary" (click)="updateRow()">Update</button>
    <button mat-button *ngIf="! newRow" color="accent" (click)="cloneRow()">Clone</button>
    <button mat-button *ngIf="! newRow" color="warn" (click)="deleteRow()">Delete</button>
    <button mat-button (click)="close()">Cancel</button>
</mat-dialog-actions>