<mat-toolbar color="accent">
  <a routerLink="/" class="text-display-1 devctrl-link">DevCtrl</a>
  <div class="close-spacer">&nbsp;</div>
  <button mat-button (click)="close.emit()"><mat-icon>chevron_left</mat-icon></button>
</mat-toolbar>
<div class="drawer-controls-1">
  <h3>Projectors</h3>
  <div class="button-div" *ngIf="rc.powerControlIds[0]">
    <div class="button-label">Power</div>
    <div class="button-row">
      <button mat-raised-button [color]="powerOffColor()" (click)="powerOff()">O</button>
      <button mat-raised-button [color]="powerOnColor()" (click)="powerOn()">|</button>
    </div>
  </div>
  <div class="button-div" *ngIf="rc.shutterControlIds[0]">
    <div class="button-label">Shutter</div>
    <div class="button-row">
      <button mat-raised-button [color]="shutterOnColor()" (click)="shutterOn()">
        <mat-icon class="toggle-icon">videocam_off</mat-icon>
      </button>
      <button mat-raised-button [color]="shutterOffColor()" (click)="shutterOff()">
        <mat-icon class="toggle-icon">videocam</mat-icon>
      </button>
    </div>
  </div>
  <div class="source-div" *ngIf="rc.sourceControlId">
    <div class="source-label">Source</div>
    <div class="source-row">
      <button mat-raised-button [color]="sourceColor(1)" (click)="sourceSelect(1)">
        <svg version="1.1" id="Laptop" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 20 20" enable-background="new 0 0 20 20" xml:space="preserve">
        <path d="M19.754,15.631C19.507,15.26,18,13,18,13V4c0-1.102-0.9-2-2-2H4C2.899,2,2,2.898,2,4v9
            c0,0-1.507,2.26-1.754,2.631C0,16,0,16.213,0,16.5V17c0,0.5,0.5,1,0.999,1h18.002C19.5,18,20,17.5,20,17v-0.5
            C20,16.213,20,16,19.754,15.631z M7,16l0.6-1h4.8l0.6,1H7z M16,12H4V4h12V12z"/>
        </svg>
      </button>
      <button mat-raised-button [color]="sourceColor(2)" (click)="sourceSelect(2)">
        <svg version="1.1" id="App_Store" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 20 20" enable-background="new 0 0 20 20" xml:space="preserve">
        <path d="M17.5640259,13.8623047c-0.4133301,0.9155273-0.6115723,1.3251343-1.1437988,2.1346436
            c-0.7424927,1.1303711-1.7894897,2.5380249-3.086853,2.5500488c-1.1524048,0.0109253-1.4483032-0.749939-3.0129395-0.741333
            c-1.5640259,0.008606-1.8909302,0.755127-3.0438843,0.7442017c-1.296814-0.0120239-2.2891235-1.2833252-3.0321655-2.4136963
            c-2.0770874-3.1607666-2.2941895-6.8709106-1.0131836-8.8428955c0.9106445-1.4013062,2.3466187-2.2217407,3.6970215-2.2217407
            c1.375,0,2.239502,0.7539673,3.3761597,0.7539673c1.1028442,0,1.7749023-0.755127,3.3641357-0.755127
            c1.201416,0,2.4744263,0.6542969,3.3816528,1.7846069C14.0778809,8.4837646,14.5608521,12.7279663,17.5640259,13.8623047z
             M12.4625244,3.8076782c0.5775146-0.741333,1.0163574-1.7880859,0.8571167-2.857666
            c-0.9436035,0.0653076-2.0470581,0.6651611-2.6912842,1.4477539C10.0437012,3.107605,9.56073,4.1605835,9.7486572,5.1849365
            C10.7787476,5.2164917,11.8443604,4.6011963,12.4625244,3.8076782z"/>
        </svg>
      </button>
    </div>
    <div class="source-row">
      <button mat-raised-button [color]="sourceColor(3)" (click)="sourceSelect(3)">
        <svg version="1.1" id="Windows_Store" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
	 y="0px" viewBox="0 0 20 20" enable-background="new 0 0 20 20" xml:space="preserve">
        <path d="M9.5,3.2410278V9.5H18V2L9.5,3.2410278z M2,9.5h6.5V3.3870239L2,4.3359985V9.5z M9.5,16.7589722L18,18v-7.5
            H9.5V16.7589722z M2,15.6640015l6.5,0.9489746V10.5H2V15.6640015z"/>
        </svg>
      </button>
      <button mat-raised-button [color]="sourceColor(4)" (click)="sourceSelect(4)">
        <svg version="1.1" id="Users" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 20 20" enable-background="new 0 0 20 20" xml:space="preserve">
<path d="M15.989,19.129c0-2.246-2.187-3.389-4.317-4.307c-2.123-0.914-2.801-1.684-2.801-3.334
	c0-0.989,0.648-0.667,0.932-2.481c0.12-0.752,0.692-0.012,0.802-1.729c0-0.684-0.313-0.854-0.313-0.854s0.159-1.013,0.221-1.793
	c0.064-0.817-0.398-2.56-2.301-3.095C7.88,1.195,7.655,0.654,8.679,0.112c-2.24-0.104-2.761,1.068-3.954,1.93
	c-1.015,0.756-1.289,1.953-1.24,2.59c0.065,0.78,0.223,1.793,0.223,1.793s-0.314,0.17-0.314,0.854
	c0.11,1.718,0.684,0.977,0.803,1.729C4.481,10.822,5.13,10.5,5.13,11.489c0,1.65-0.212,2.21-2.336,3.124
	C0.663,15.53,0,17,0.011,19.129C0.014,19.766,0,20,0,20h16C16,20,15.989,19.766,15.989,19.129z M18.528,13.365
	c-1.135-0.457-1.605-1.002-1.605-2.066c0-0.641,0.418-0.432,0.602-1.603c0.077-0.484,0.447-0.008,0.518-1.115
	c0-0.441-0.202-0.551-0.202-0.551s0.103-0.656,0.143-1.159c0.05-0.627-0.364-2.247-2.268-2.247c-1.903,0-2.318,1.62-2.269,2.247
	c0.042,0.502,0.144,1.159,0.144,1.159s-0.202,0.109-0.202,0.551c0.071,1.107,0.441,0.631,0.518,1.115
	c0.184,1.172,0.602,0.963,0.602,1.603c0,1.064-0.438,1.562-1.809,2.152c-0.069,0.029-0.12,0.068-0.183,0.102
	c1.64,0.712,4.226,1.941,4.838,4.447H20c0,0,0-1.906,0-2.318C20,14.682,19.727,13.848,18.528,13.365z"/>
</svg>
      </button>
    </div>
  </div>
  <div class="advanced-row">
    <button mat-button (click)="openMorePanel($event)">More >></button>
  </div>
  <h3 *ngIf="rc.audioOnControlId && rc.audioVolumeControlId">Audio</h3>
  <div class="audio-div" *ngIf="rc.audioOnControlId && rc.audioVolumeControlId">
    <div class="audio-controls">
      <div class="audio-level">{{volumeDisplay}}db</div>
      <div class="audio-slider-and-buttons">
        <div class="slider-container">
          <mat-slider
                  min="0"
                  max="1023"
                      [displayWith]="volumeDisplayValue"
                  [ngModel]="volumeVal()"
                      [thumbLabel]="true"
                      [vertical]="true"
                  (ngModelChange)="updateVolume($event)">
          </mat-slider>
        </div>
        <div class="audio-buttons">
          <button mat-raised-button
                  class="audio-level-4"
                  color="primary"
                  (click)="volumePreset(3)">
            Loudest
          </button>
          <button mat-raised-button
                  class="audio-level-3"
                  color="primary"
                  (click)="volumePreset(2)">
            Louder
          </button>
          <button mat-raised-button
                  class="audio-level-2"
                  color="primary"
                  (click)="volumePreset(1)">
            Normal
          </button>
          <button mat-raised-button
                  class="audio-level-1"
                  color="primary"
                  (click)="volumePreset(0)">
            Softer
          </button>
        </div>
      </div>
      <button mat-raised-button [color]="audioOnColor" (click)="audioOnToggle()">
        <mat-icon *ngIf="audioOnValue">volume_up</mat-icon>
        <mat-icon *ngIf="! audioOnValue">volume_mute</mat-icon>
      </button>
    </div>
  </div>
  <div class="recording-div" *ngIf="rc.videoSwitcherLayout != 2 && rc.recordControlIds[0]">
    <img [src]="rc.recordViewUrl" (click)="openRecordImagePanel($event)" />
    <div class="record-control">
      <button mat-mini-fab aria-label="Record" [color]="recordButtonColor()" (click)="recordToggle()"><mat-icon>fiber_manual_record</mat-icon></button>
    </div>


  </div>
  <div *devctrlAdminOnly class="advanced-row">
    <button mat-button (click)="editRoom($event)">Edit Room >></button>
  </div>
</div>
