.advanced-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.audio-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.audio-controls {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.audio-controls .audio-buttons .audio-level-3 {
  background-color: #5C6BC0;
}

.audio-controls .audio-buttons .audio-level-2 {
  background-color: #7986CB;
}

.audio-controls .audio-buttons .audio-level-1 {
  background-color: #9FA8DA;
}
.audio-controls mat-slider {
    transform: scale(1.5);
}

.audio-controls .slider-container {
    padding: 40px 0 40px 0;
}

.audio-div mat-slider {
    height: 160px;
}

.audio-level {
}

.audio-slider-and-buttons {
  display: flex;
  flex-direction: row;
}

.button-div {
    display: flex;
    flex-direction: column;
    margin: 12px 0;
}

.button-label {
    font-weight: bold;
    font-size: 14px;
}

.button-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 8px 0 8px 0;
}

.close-spacer {
    flex: 1 1;
}

.devctrl-link {
    text-decoration: none;
    color: #fff;
}


.drawer-controls-1 {
    display: flex;
    flex-direction: column;
    margin: 0 18px 0 18px;
}

.drawer-controls-1 h3 {
    width: 100%;
    text-align: center;
    margin: 1em 0 0 0;
}

.recording-div {
    position: relative;
    margin: 1em 0 0 0;
}

.recording-div button {

}

.recording-div img {
    width: 100%;
}

.recording-div .record-control {
    position: absolute;
    bottom: 2px;
    right: 0;
    display: flex;
    flex-direction: row;
    padding: 4px;
    border-radius: 4px;
}

.recording-div .timecode {
    text-align: center;
    margin: auto auto auto 10px;
    font-size: 22px;
}

.recording-div .timecode.tc-hidden {
    margin-left: 0px;
}

.source-div {
    display: flex;
    flex-direction: column;
    margin: 12px 0;
}

.source-div .advanced-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.source-label {
    font-weight: bold;
    font-size: 14px;
}

.source-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 8px 0 8px 0;
}


