<div class="devctrl-ctrl-item" [class.endpoint-disabled]="!cs.control.endpoint.epStatus.ok">
    <div class="control-wrapper" [ngSwitch]="cs.type">
        <ctrl-arrow-button-set *ngSwitchCase="'arrow-button-set'"></ctrl-arrow-button-set>
        <ctrl-awhe130-preset *ngSwitchCase="'awhe130-preset'"></ctrl-awhe130-preset>
        <ctrl-awhe130-preset-map *ngSwitchCase="'awhe130-preset-map'"></ctrl-awhe130-preset-map>
        <ctrl-button *ngSwitchCase="'button'"></ctrl-button>
        <ctrl-button-set *ngSwitchCase="'button-set'"></ctrl-button-set>
        <ctrl-clql-fader-combo *ngSwitchCase="'clql-fader-combo'"></ctrl-clql-fader-combo>
        <ctrl-clql-fader *ngSwitchCase="'clql-fader'"></ctrl-clql-fader>
        <ctrl-hyperlink *ngSwitchCase="'hyperlink'"></ctrl-hyperlink>
        <ctrl-image *ngSwitchCase="'image'"></ctrl-image>
        <ctrl-level *ngSwitchCase="'level'"></ctrl-level>
        <ctrl-readonly *ngSwitchCase="'readonly'"></ctrl-readonly>
        <ctrl-select *ngSwitchCase="'select'"></ctrl-select>
        <ctrl-select-readonly *ngSwitchCase="'select-readonly'"></ctrl-select-readonly>
        <ctrl-switch *ngSwitchCase="'switch'"></ctrl-switch>
        <ctrl-switch-readonly *ngSwitchCase="'switch-readonly'"></ctrl-switch-readonly>
        <ctrl-slider *ngSwitchCase="'slider'"></ctrl-slider>
        <ctrl-slider2d *ngSwitchCase="'slider2d'"></ctrl-slider2d>
        <ctrl-tree-readonly *ngSwitchCase="'tree-readonly'"></ctrl-tree-readonly>
        <ctrl-f32-multibutton *ngSwitchCase="'f32-multibutton'"></ctrl-f32-multibutton>
        <ctrl-default *ngSwitchDefault></ctrl-default>
    </div>
    <div class="devctrl-ctrl-admin-placeholder">
        <button mat-icon-button
                *ngIf="cs.dataService.isAdminAuthorized()"
                [mat-menu-trigger-for]="adminmenu" style="margin-top: 4px;">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #adminmenu="matMenu">
            <button mat-menu-item (click)="cs.editControl($event)"
                    matTooltip="View Control Details">
                    <mat-icon>create</mat-icon>
                    Control
            </button>
            <button mat-menu-item *ngIf="cs.panelContext" (click)="cs.editPanelControl($event)">
                    Edit Panel Control
            </button>
            <button mat-menu-item *ngIf="cs.type == 'select' || cs.type == 'select-readonly'"
                          label="Control Options"
                           (click)="cs.editOptions()">
                    <mat-icon>create</mat-icon>
                    Control Options
            </button>
        </mat-menu>
    </div>
</div>