<mat-list class="panel-group">
  <devctrl-panel *ngFor="let panel of getPanels()" [panelObj]="panel"></devctrl-panel>
</mat-list>
<div class="button-div">
  <button mat-button (click)="close()" color="primary">Done</button>
  <button mat-button
          (click)="addPanel($event)" *devctrlAdminOnly>
    Add Panel
  </button>
</div>
