<div class="outer">
  <div class="search-row">
    <button mat-button (click)="close.emit()"><mat-icon>chevron_right</mat-icon></button>
    <form>
      <mat-form-field>
        <input type="text "matInput [ngModel]="''" [placeholder]="'search'"
               name="searchTerm"
               (ngModelChange)="searchTerm.next($event)">
      </mat-form-field>
    </form>
  </div>
  <div class="student-list" cdkDropList id="roster-list" (cdkDropListDropped)="nameDropped($event)">
    <div *ngFor="let student of filteredStudents | async" class="student-tile" cdkDrag
         [cdkDragData]="{ name: student, seat: 0}">
      <div class="firstname">{{firstName(student)}}</div>
      <div class="lastname">{{lastName(student)}}</div>
    </div>
    <div class="student-tile custom-student" cdkDrag
      [cdkDragData]="{ name: customName, seat: 0}">
      <form id="custom-student">
        <mat-form-field>
          <input type="text" matInput placeholder="Other" name="firstname" [(ngModel)]="customFirstname">
        </mat-form-field>
        <mat-form-field>
          <input type="text" matInput placeholder="Name" name="lastname" [(ngModel)]="customLastname">
        </mat-form-field>
      </form>
      <div *cdkDragPreview class="student-tile">
        <div class="firstname">{{customFirstname}}</div>
        <div class="lastname">{{customLastname}}</div>
      </div>
    </div>
  </div>
</div>
