.custom-student form {
  display: flex;
  flex-direction: column;
}

.firstname {
  font-size: 1.1vw;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  line-height: 1.8vw;
}

.lastname {
  font-size: 0.8vw;
}


.outer {
  background-color: #f4f4f4;
}
.search-row {
  display: flex;
  flex-direction: row;
}

.student-tile {
  border: 1px solid rgba(0,0,0, .33);
  border-radius: 3px;
  margin: 8px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.74);
}