.clock {
  font-size: 4vw;
  font-family: "digital-clock";
  color: #ff4081;
}

.clock-container {
  display: flex;
  flex-direction: column;
  flex: 1 1;
  justify-content: space-around;
}

.clock-container.course-time-layout {
  flex-direction: row;
}

.clock-container div {
  justify-content: center;
  text-align: center;
  vertical-align: middle;
  display: flex;
  align-items: center;
}

.clock-container.clock-only .clock {
  font-size: 3.8vw;
}

.clock-container .time-rem-inner {
  font-size: 3.6vw;
  font-family: 'digital-clock';
  color: #ff4081;
  /* visibility: hidden; */
  flex-direction: row;
}

.clock-container .time-rem-after {
  width: 3vw;
}
.clock-container .time-rem-sign {
  font-size: 3.6vw;
  width: 3vw;
}


.course-column {
  justify-content: center;
  width: 31vw;
  display: flex;
  flex-direction: column;
}

.course-row {
  display: flex;
  flex-direction: row;
}


.course-number {
  font-size: 3.5vw;
  color: #404040;
  cursor: pointer;
}

.course-period {
  flex-direction: column;
  flex: 1 1;
}

.course-period-section {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.course-period-content {
  font-size: 1.8vw;
  color: #505050;
}

.course-period-title {
  font-size: 1.1vw;
  color: #606060;
}

.course-section {
  flex-direction: column;
  flex: 1 1;

}

.course-section-title {
  font-size: 1.1vw;
  color: #606060;
}

.course-section-content {
  font-size: 1.8vw;
  color: #505050;
}

.course-time-layout .course-period {
  flex-direction: row;
}

.course-time-layout .course-period-content {
  font-size: 1.1vw;
}

.course-time-layout .course-row {
  flex-direction: column;
}

.course-time-layout .caption-course {
  display: flex;
  flex-direction: row;
}

.course-time-layout .course-number {
  font-size: 1.6vw;
}

.course-time-layout .time-rem-inner {
  font-size: 3.8vw;
}




.date {
  font-size: 1.4vw;
  text-transform: uppercase;
  color: #404040;
}


.time-rem-caption {
  font-size: 1.1vw;
  margin-bottom: 0.1vw;
  color: #525252;
}

.time-rem-container {
  flex-direction: column;
}

.time-rem-hhmm {
  flex-direction: row;
}

.time-rem-hh, .time-rem-mm {
  font-family: 'digital-clock';
  color: #ff4081;
  font-size: 1.1vw;
  width: 9.5vw;
}
