<div class="clock-container" (swipeleft)="onPinch($event)" *ngIf="layout == 'narrow'">
  <div class="date">{{currentTime | async | date: 'EEEE, MMMM d'}}</div>
  <div class="clock">{{currentTime | async | date: 'hh:mm'}}</div>
  <div class="course-row">
    <div class="course-period">
      <div class="course-period-title">PERIOD</div>
      <div class="course-period-content">{{(nextCourseMeeting | async)?.period}}</div>
    </div>
    <div class="course-number" [matMenuTriggerFor]="coursemenu">{{(nextCourseMeeting | async)?.courseCode}}</div>
    <mat-menu #coursemenu="matMenu" [overlapTrigger]="false">
      <button mat-menu-item (click)="setSelectedCourse('')">Next Course</button>
      <button mat-menu-item *ngFor="let course of courseList"
              (click)="setSelectedCourse(course.csid)">
        {{course.courseCode}} - {{course.sectionMeetDays}}
      </button>
    </mat-menu>
    <div class="course-section">
      <div class="course-section-title">SECTION</div>
      <div class="course-section-content">{{(nextCourseMeeting | async)?.section}}</div>
    </div>
  </div>
  <div class="time-rem-container">
    <div class="time-rem-caption">{{(timeRemaining| async)?.caption}}</div>
    <div class="time-rem-inner">
      <div class="time-rem-sign">{{(timeRemaining| async)?.sign}}</div>
      <div class="time-rem">{{(timeRemaining| async)?.timeStr}}</div>
      <div class="time-rem-after"></div>
    </div>
    <div class="time-rem-hhmm">
      <div class="time-rem-hh">
        {{(timeRemaining| async)?.HH}}
      </div>
      <div class="time-rem-mm">
        {{(timeRemaining| async)?.MM}}
      </div>
    </div>
  </div>
</div>
<div class="clock-container clock-only" *ngIf="layout == 'clock-only'">
  <div class="clock" [style.color]="rc.clockColor">{{currentTime | async | date: 'hh:mm'}}</div>
  <div class="date">{{currentTime | async | date: 'EEEE, MMMM d'}}</div>
</div>
<div class="clock-container course-time-layout" *ngIf="layout == 'course-time'">
  <div class="time-rem-container">
    <div class="caption-course">
      <div class="course-number" [matMenuTriggerFor]="coursemenu">{{(nextCourseMeeting | async)?.courseCode}}&nbsp;&nbsp;</div>
      <mat-menu #coursemenu="matMenu" [overlapTrigger]="false">
        <button mat-menu-item (click)="setSelectedCourse('')">Next Course</button>
        <button mat-menu-item *ngFor="let course of courseList"
                (click)="setSelectedCourse(course.csid)">
          {{course.courseCode}} - {{course.sectionMeetDays}}
        </button>
      </mat-menu>
      <div class="time-rem-caption">{{(timeRemaining| async)?.caption}}</div>
    </div>
    <div class="time-rem-inner" [style.color]="rc.classClockColor">
      <div class="time-rem-sign">{{(timeRemaining| async)?.sign}}</div>
      <div class="time-rem">{{(timeRemaining| async)?.timeStr}}</div>
      <div class="time-rem-after"></div>
    </div>
  </div>
</div>


