.d1 {
  display: flex;
  flex-direction: row;
}

.d2 .inputs-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.d2 .inputs-row img {
  width: 19vw;
}

.d3 div.output img {
  width: 31.2vw;
}

div.output {
  margin-right: 10px;
}

div.output img {
  width: 33.33vw;
  margin-top: 2px;
}

div.inputs-col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

div.inputs-col img {
  width: 10vw;
  height: 5.625vw;
  border: 2px solid rgba(0,0,0,0);
  cursor: pointer;
  background-color: rgba(0,0,0,0.1);
}

div.inputs-row img.selected-source, div.inputs-col img.selected-source {
  border: 2px solid #ff4081;
}



/*
Initial state: hidden


Post-op state: transition to hidden
 */

div.zg-hidden {
  visibility: hidden;
}

div.zg-unselected {
  border: 2px solid rgba(255,255,0, 0.2);
}

div.zg-elect {
  border: 4px solid rgba(255,255,0, .8);
}

div.zg-current {
  border: 3px solid rgba(0,255,0, .7);
}

div.zg2 {
  width: 32.2vw;
  height: 17.8vw;
  margin: .45vw auto auto .4vw;
  position: fixed;
}

div.zg1 {
  width: 22vw;
  height: 12.36vw;
  margin: 3vw auto auto 5.5vw;
  position: fixed;
}

div.zg0 {
  width: 11vw;
  height: 6.18vw;
  margin: 6vw auto auto 11vw;
  position: fixed;
}

div.zgTransitionSource {
  transition: width 3s, height 3s, margin 3s;
  animation-name: source-border;
  animation-duration: 4s;
  animation-iteration-count: 1;
}

div.zgTransitionDest {
  animation-duration: 3s;
  animation-name:dest-pulse;
  animation-iteration-count: 1;
}

@keyframes source-border {
  0% {
    border: 3px solid rgba(0,255,0, .7);
  }

  75% {
    border: 3px solid rgba(0,255,0, .7);
  }

  100% {
    border: 3px solid rgba(0,255,0,0);
  }
}


@keyframes dest-pulse
{
  0% {
    box-shadow: 0 0 0 0px rgba(255, 255, 0, 0);
    border: 4px solid rgba(255,255,0, .8);
  }

  25% {
    box-shadow: 0 0 0 5px rgba(128, 255, 0, 0.5);
    border: 3px solid rgba(128,255,0, .7);
  }

  50% {
    box-shadow: 0 0 0 0px rgba(65, 255, 0, 0);
    border: 3px solid rgba(65,255,0, .7);
  }

  75% {
    box-shadow: 0 0 0 5px rgba(0, 255, 0, .5);
    border: 3px solid rgba(0,255,0, .7);
  }

  100% {
    box-shadow: 0 0 0 0px rgba(0, 255, 0, 0);
    border: 3px solid rgba(0,255,0, 0);
  }
}

div.zg-message {
  visibility: hidden;
  position: fixed;
  margin: .5vw auto auto 6vw;
  padding: 5px;
  border-radius: 3px;
}

div.zg-message.zg-disabled {
  visibility: visible;
  background-color: rgba(255,255,255, 0.4);
}
