<div class="d1" *ngIf="configOK && layout == 1">

    <div class="output"  (panstart)="onPanStart($event)"
         (panend)="onPanEnd($event)"
         (pan)="onPanOutput($event)">
      <div class="zoom-grid zg2"  #zg2
           [class]="zgClasses(2)">
      </div>
      <div class="zoom-grid zg1" #zg1
           [class]="zgClasses(1)">
      </div>
      <div class="zoom-grid zg0" #zg0
           [class]="zgClasses(0)">
      </div>
      <div class="zg-message" [class.zg-disabled]="zgState.disabled">
        Touch control not enabled for selected video source
      </div>
      <img [src]="roomConfig.videoSwitcherOutputViewUrl" />
    </div>
    <div class="inputs-col">
        <img *ngFor="let cid of viewControlIds; index as i"
             [src]="videoSource(i)"
             (error)="imgError($event)"
             (click)="selectSource(i);"
             [class.selected-source]="sourceSelected(i)"/>
    </div>
</div>
<div class="d2" *ngIf="configOK && layout == 2">
  <div class="inputs-row">
    <img *ngFor="let cid of viewControlIds; index as i"
         [src]="videoSource(i)"
         (error)="imgError($event)"
         (click)="selectSource(i);"
         [class.selected-source]="sourceSelected(i)"/>
  </div>
</div>
<div class="d3" *ngIf="configOK && layout == 3">
  <div class="output"  (panstart)="onPanStart($event)"
       (panend)="onPanEnd($event)"
       (pan)="onPanOutput($event)">
    <div class="zoom-grid zg2"  #zg2
         [class]="zgClasses(2)">
    </div>
    <div class="zoom-grid zg1" #zg1
         [class]="zgClasses(1)">
    </div>
    <div class="zoom-grid zg0" #zg0
         [class]="zgClasses(0)">
    </div>
    <div class="zg-message" [class.zg-disabled]="zgState.disabled">
      Touch control not enabled for selected video source
    </div>
    <img [src]="roomConfig.videoSwitcherOutputViewUrl" />
  </div>
</div>
<div class="d1" *ngIf="!configOK">
    <div class="errors">
    Video switcher controls are not properly configured
    <ul>
        <li *ngFor="let e of configErrors">{{e}}</li>
    </ul>
    </div>
</div>
