<div class="control-list">
  <span class="key-name">{{name}}</span>
  <div class="control-selectors">
    <div class="control-selector"  *ngFor="let cId of controlIds; index as i">
      <devctrl-control-id-selector [name]="'Control ' +i"
                                   [controlId]="cId"
                                   (onUpdate)="controlUpdated($event, i)">

      </devctrl-control-id-selector>
      <button type="button" mat-icon-button (click)="deleteControl(i)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
    <button mat-icon-button
            type="button"
            (click)="addControl()"
            color="primary">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>
