<mat-sidenav-container class="fs-container" cdkDropListGroup>
  <mat-sidenav #sidenavLeft class="tool-drawer" mode="side" [opened]="true" [class.tool-drawer-wide]="isToolDrawerWide()">
    <classroom-control-drawer  [room]="room"
                               [rc]="rc"
                               [timecode]="timecode"
                                (close)="sidenavLeft.toggle()">
    </classroom-control-drawer>
  </mat-sidenav>
  <mat-sidenav #sidenavRight position="end" mode="side">
    <devctrl-roster-drawer [courseMeeting]="nextCourseMeeting"
                           [presetControlIds]="rc.presetMapControlIds"
                            (close)="sidenavRight.close()">
    </devctrl-roster-drawer>
  </mat-sidenav>
  <mat-sidenav-content class="sidenav-content">
    <div class="main-section" *ngIf="rc.videoSwitcherLayout != 2">
      <!-- non- video switcher layout -->
      <div class="top-row">
        <div class="menu-button">
          <button mat-button (click)="sidenavLeft.toggle()" *ngIf="! sidenavLeft.opened"><mat-icon>menu</mat-icon></button>
        </div>
        <div class="camera-0" *ngIf="rc.videoSwitcherLayout == 0">
          <img [src]="cameraSource(0)" (error)="imgError($event)" />
        </div>
        <devctrl-class-info [nextCourseMeeting]="nextCourseMeeting"
                            [courseList]="courseList()"
                            (selectedCourse)="setSelectedCourse($event)">
        </devctrl-class-info>
        <devctrl-video-switcher-panel [roomConfig]="rc" *ngIf="rc.videoSwitcherLayout == 1"></devctrl-video-switcher-panel>
        <div class="camera-1" *ngIf="rc.cameraViewControlIds[1] && rc.videoSwitcherLayout == 0">
          <img [src]="cameraSource(1)" (error)="imgError($event)"/>
        </div>
        <div class="menu-button">
          <button mat-button (click)="sidenavRight.toggle()" *ngIf="! sidenavRight.opened"><mat-icon>group_add</mat-icon></button>
        </div>
      </div>
      <div class="preset-row">
        <devctrl-camera-preset-map *ngIf="rc.presetMapControlIds[0]"
          [controlId]="rc.presetMapControlIds[0]"
          [classRows]="rc.classMaps[0]"
          [course]="nextCourseMeeting"
          [fullscreenButton]="! rc.classMaps[1]"
          (openRosterDrawer)="sidenavRight.open()">
        </devctrl-camera-preset-map>
        <div class="class-center-aisle" *ngIf="rc.presetMapControlIds[1]">

        </div>
        <devctrl-camera-preset-map *ngIf="rc.presetMapControlIds[1]"
                                   [controlId]="rc.presetMapControlIds[1]"
                                   [classRows]="rc.classMaps[1]"
                                   [course]="nextCourseMeeting"
                                   [fullscreenButton]="true"
                                    (openRosterDrawer)="sidenavRight.open()">
        </devctrl-camera-preset-map>
      </div>
    </div>
    <div class="help-div" *ngIf="rc.videoSwitcherLayout != 2">
      <button mat-raised-button aria-label="Contact Support" color="warn" (click)="sos()"><mat-icon>contact_support</mat-icon></button>
    </div>
    <div class="recording-div" [class.offset]="! rc.classMaps[1]"
         [class.alert]="recordingAlert"
          [class.alert2]="recordingAlert2"  *ngIf="rc.videoSwitcherLayout != 2">
      <button mat-fab aria-label="Record" [color]="recordButtonColor()" (click)="recordToggle()"
              [disabled]="!recordEndpointsEnabled()">
        <mat-icon>fiber_manual_record</mat-icon>
      </button>
      <div *ngIf="recordEndpointsEnabled()" class="timecode">{{timecode | async}}</div>
      <div *ngIf="!recordEndpointsEnabled()" class="timecode-disabled">
        Recording device<br>
        offline
      </div>
      <div class="recordAlertMenuContainer">
      <button mat-icon-button
              [mat-menu-trigger-for]="alertmenu" style="margin-top: 4px;">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #alertmenu="matMenu">
        <mat-checkbox class="alerts-checkbox" [ngModel]="courseRecordAlertsActive(cMtg)"
            (ngModelChange)="setCourseRecordAlerts($event)">
          Recording Alerts
        </mat-checkbox>
      </mat-menu>
      </div>
    </div>
    <div class="main-section grid" *ngIf="rc.videoSwitcherLayout == 2">
      <div class="menu-button grid-a">
        <button color="accent" mat-button (click)="sidenavLeft.toggle()" *ngIf="! sidenavLeft.opened"><mat-icon>menu</mat-icon></button>
      </div>
      <devctrl-video-switcher-panel class="grid-a" [roomConfig]="rc" [layout]="2"></devctrl-video-switcher-panel>
      <devctrl-video-switcher-panel class="grid-b" [roomConfig]="rc" [layout]="3"></devctrl-video-switcher-panel>
      <devctrl-camera-preset-map *ngIf="rc.presetMapControlIds[0]"
                                 class="grid-c"
                                 [controlId]="rc.presetMapControlIds[0]"
                                 [classRows]="rc.classMaps[0]"
                                 [course]="nextCourseMeeting"
                                 [fullscreenButton]="! rc.classMaps[1]"
                                 (openRosterDrawer)="sidenavRight.open()"
                                 [bottomRowStyle]="'l1'">
      </devctrl-camera-preset-map>
      <devctrl-camera-preset-map *ngIf="rc.presetMapControlIds[1]"
                                 class="grid-d"
                                 [controlId]="rc.presetMapControlIds[1]"
                                 [classRows]="rc.classMaps[1]"
                                 [course]="nextCourseMeeting"
                                 [fullscreenButton]="true"
                                 (openRosterDrawer)="sidenavRight.open()"
                                  [bottomRowStyle]="'r1'">
      </devctrl-camera-preset-map>
      <div class="grid-e recording-div"
           [class.alert]="recordingAlert"
           [class.alert2]="recordingAlert2">
        <button mat-raised-button aria-label="Record"
                class="record-button"
                [color]="recordButtonColorLayout2()" (click)="recordToggle()"
                [disabled]="!recordEndpointsEnabled()">
          {{recordButtonText()}}
        </button>
        <div *ngIf="recordEndpointsEnabled()"
             class="timecode"
             [mat-menu-trigger-for]="alertmenu"
             [style.color]="rc.timecodeColor">
          {{timecode | async}}
        </div>
        <div *ngIf="!recordEndpointsEnabled()" class="timecode-disabled">
          00:00:00
        </div>
        <mat-menu #alertmenu="matMenu">
          <mat-checkbox class="alerts-checkbox" [ngModel]="courseRecordAlertsActive(cMtg)"
                        (ngModelChange)="setCourseRecordAlerts($event)">
            Recording Alerts
          </mat-checkbox>
        </mat-menu>
      </div>
      <devctrl-class-info class="grid-f"
                          [nextCourseMeeting]="nextCourseMeeting"
                          [courseList]="courseList()"
                          (selectedCourse)="setSelectedCourse($event)"
                          [rc]="rc"
                          layout="course-time">
      </devctrl-class-info>
      <devctrl-class-info class="grid-g"
                          [nextCourseMeeting]="nextCourseMeeting"
                          [courseList]="courseList()"
                          (selectedCourse)="setSelectedCourse($event)"
                          [rc]="rc"
                          layout="clock-only">
      </devctrl-class-info>
      <div class="help-div grid-h">
        <button mat-raised-button aria-label="Contact Support" color="warn" (click)="sos()">
          <mat-icon>contact_support</mat-icon>
        </button>
      </div>
      <div class="menu-button grid-i">
        <button mat-button (click)="sidenavRight.toggle()" *ngIf="! sidenavRight.opened"><mat-icon>group_add</mat-icon></button>
      </div>
    </div>



  </mat-sidenav-content>
</mat-sidenav-container>
