.alerts-checkbox {
  margin-left: 10px;
  margin-right: 10px;
}

.camera-0 img, .camera-1 img {
    width: 31vw;
}

.class-center-aisle {
    flex: 1 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}




devctrl-camera-preset-map {
    flex: 3 3;
    margin: 4px;
}

devctrl-class-info {
    flex: 1 1;
}

.grid.main-section {
  display: grid;
  /** grid-gap: 20px; **/
  grid-template-rows: 20vh 11vh 58vh 11vh;
  grid-template-columns: 9fr 9fr 9fr 9fr 9fr 5fr 9fr 2fr 16fr 13fr 5fr;
}

.grid-a {
 grid-column: 1 / 9;
 grid-row: 1;
 margin-top: 2px;
}

.grid-b {
  grid-column: 9 / 12;
  grid-row: 1 / 3;
}

.grid-c {
  grid-column: 1 / 6;
  grid-row: 3 / 5;
}

.grid-d {
  grid-column: 7 / 12;
  grid-row: 3 / 5;
}

.grid-e {
  grid-column: 1 / 4;
  grid-row: 2;
}

.grid-f {
  grid-column: 5 / 8;
  grid-row: 2;
  margin-top: 10px;
}

.grid-g {
  grid-column: 5 / 8;
  grid-row: 4;
}

.grid-h {
  grid-column: 1;
  grid-row: 4;
}

.grid-i {
  grid-column: 11;
  grid-row: 4;
}

.fs-container {
    position: absolute;
    display: flex;
    flex-direction: row;
    width: 100vw;

    background-color: #dcdcde;
}

.help-div {
    position: fixed;
    left: 240px;
    bottom: 10px;
}





.main-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

.main-section.grid .recording-div {
  position: static;
  bottom: 0;
  left: 0;
  flex-direction: column;
}

.main-section.grid .recording-div .timecode-disabled, .main-section.grid .recording-div .timecode {
  font-size: 3.8vw;
  margin-left: 0;
}


.preset-row {
    display: flex;
    flex-direction: row;
    flex: 3 3;
}

.record-button {
  width: auto;
}


.recording-div {
    display: flex;
    flex-direction: row;
    position: fixed;
    bottom: 10px;
    left: 43vw;
  border-style: solid;
  border-color: rgba(255, 255, 0, 0);
  border-width: 10px;
  border-radius: 5px;
}

.recording-div.offset {
    left: 22vw;
}

.recording-div .timecode {
    font-size: 3vw;
    font-family: "digital-clock";
    color: #ff4081;
    margin-left: 12px;
}

.recording-div .timecode-disabled {
    font-size: 1.5vw;
    font-family: "digital-clock";
    color: rgba(0,0,0,.26);
    margin-left: 12px;
    text-align: center;
}



.recording-div.alert {
  animation-duration: 3s;
  animation-name: record-blink;
  animation-iteration-count: 20;
}

.recording-div.alert2 {
  animation-duration: 3s;
  animation-name: record-blink-super-cereal;
  animation-iteration-count: 20;
}




@keyframes record-blink
 {
   0% {
     background: rgba(255, 255, 0, 0);
     border-color: rgba(255, 255, 0, 0);
   }

   25% {
     background: rgba(255, 255, 0, 0.75);
     border-color: rgba(255, 255, 0, 0.75);
   }

   50% {
     background: rgba(255, 255, 0, 0);
     border-color: rgba(255, 255, 0, 0);
   }

   75% {
     background: rgba(255, 255, 0, 0.75);
     border-color: rgba(255, 255, 0, 0.75);
   }

   100% {
     background: rgba(255, 255, 0, 0);
     border-color: rgba(255, 255, 0, 0);
   }
 }


@keyframes record-blink-super-cereal
{
  0% {
    background: rgba(255, 0, 0, 0);
    border-color: rgba(255, 0, 0, 0);
  }

  25% {
    background: rgba(255, 0, 0, 0.75);
    border-color: rgba(255, 0, 0, 0.75);
  }

  50% {
    background: rgba(255, 0, 0, 0);
    border-color: rgba(255, 0, 0, 0);
  }

  75% {
    background: rgba(255, 0, 0, 0.75);
    border-color: rgba(255, 0, 0, 0.75);
  }

  100% {
    background: rgba(255, 0, 0, 0);
    border-color: rgba(255, 0, 0, 0);
  }
}


.sidenav-content {
    width: 100%;
}



.top-row {
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    height: 19vw;
}

.top-row div {
    text-align: center;
    vertical-align: middle;
    display: flex;
    align-items: center;
}

.top-row div.menu-button {
    align-items: flex-start;
}

.tool-drawer {
    width: 190px;
    background-color: #f4f4f4;
}

.tool-drawer.tool-drawer-wide {
  width: 230px;
}

