@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
    margin: 0px;
    overflow: hidden;
    min-height: 100vh;
}

.devctrl-ctrl-item .devctrl-ctrl-label {
    min-height: 32px;
    margin-right: 12px;
    width: 180px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}


.devctrl-ctrl-item .devctrl-ctrl {
    min-height: 48px;
}

.devctrl-ctrl-item.endpoint-disabled .devctrl-ctrl-label {
    color: #bdbdbd;
}


.devctrl-ctrl-item .devctrl-ctrl-flex-layout {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#devctrl-content-canvas {
/**    height:100%; **/
/**    overflow: scroll; **/
    padding-bottom: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
}

.mat-list .devctrl-ctrl-list-item.mat-list-item {
    height: auto;
}

.devctrl-id-text {
    font-size: 10px;
}

.dc-flex-col {
    flex-direction: column;
}


span.devctrl-spacer {
    flex: 1 1;
}

div.devctrl-toolbar-tools {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    flex: 1 1;
}

.drawer-controls-1 .button-div .mat-raised-button {
    width: 3.6vw;
    height: 48px;
    line-height: normal;
}


.drawer-controls-1 .source-div .mat-raised-button {
    width: 3.6vw;
    height: 3.6vw;
    line-height: normal;
}

.drawer-controls-1 .source-div .mat-raised-button  svg{
    width: 2vw;
    fill: currentColor;
}

/** Mobile specific classes **/
@media screen and (max-width: 599px) {
    .devctrl-card {
        width: 100%;
    }

}
/** Desktop specific classes **/
@media screen and (min-width: 600px) {
    .devctrl-card {
        box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
        transition: box-shadow 280ms cubic-bezier(.4,0,.2,1);
        will-change: box-shadow;
        display: block;
        position: relative;
        margin: 24px;
        border-radius: 2px;
    }

    .devctrl-card-narrow {
        max-width: 800px;
    }
}

[hidden] {
    display: none !important;
}

.mat-sidenav-container.fullscreen .mat-sidenav-content {
    overflow: hidden
}

.fullscreen-preset-map .mat-raised-button {
    height: 86%;
    width: 7vw;
    line-height: normal;
}


.fullscreen-preset-map .fullscreen-button {
    line-height: normal;
}


.fullscreen-preset-map .wide-button .mat-raised-button {
    width: 10vw;
    font-size: 1vw;
}


@font-face {
    font-family: 'digital-clock';
    font-weight: normal;
    font-style: normal;
    src: url('assets/css/digitaldreamfatskew.ttf') format('truetype');
}